* {
        box-sizing: border-box;
}
body {
    background: linear-gradient(0deg, #F39494, #F39494),
                linear-gradient(243.43deg, #FFA5A5 32.96%, rgba(255, 255, 255, 0) 82.03%),
                linear-gradient(243.18deg, #FDC5C5 25.45%, rgba(242, 152, 222, 0) 100%);
    margin: 0;
}

form {
    max-width: 582px;
    background-color: #FFFEFE;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 72px 95px 91px 93px;
    margin: 225px auto 0;
}

h1 {
    text-align: center;
    color: #333333;
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 49.03px;
    margin: 0;
}

form > p {
    text-align: center;
    margin: 0 0 47px 0;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 24.51px;
    color:#666666;
}

a {
    color: #089FE0;
}

button {
    background-color: #089FE0;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.51px;
    border: none;
    border-radius: 5px;
    height: 44px;
    width: 394px;
    margin: 0 0 22px 0;
}

label {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.07px;
    text-align: left;
    color: rgba(102, 102, 102, 1);
}

input[type=checkbox] {
    margin-left: 0;
    /* border: solid;
    border-width: 1px;
    border-color: red; */
}

input {
    line-height: 21.79px;
    caret-color: #089FE0;
    caret-shape: 1px solid #089FE0;
    background-color: #f5f5f5;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-style: normal;
    border: solid;
    border-width: 1px;
    border-color: #F5F5F5;
    outline: none;

}

#name {
    width: 196px;
    border-radius: 5px 0 0 5px;
    margin-right: -1px;
}

.form-style input {
    max-height: 44px;
    width: 100%;
    border-radius: 5px;
    margin: 0 0 21px 0;
    padding: 9px 0;
    text-indent: 11px;
}

#surname {
    width: 196px;
    border-radius: 0 5px 5px 0;
    margin-left: -1px;
}

input::placeholder {
    font-style: italic;
    font-weight: 400;
}

input:focus {
    background-color: #F5F5F5;
}
