body {
    color: #FFFFFF;
    background: linear-gradient(180deg, #374151 0%, #111827 82.6%, #121928 100%); 
    font-family: Roboto;
    font-weight: 400;
    margin: 0;
    box-sizing: border-box;
}

header {
    margin: 72px 0 69px 0;
    max-width: 1080px;
}

main {
    max-width: 1080px;
    margin-bottom: 20px;
}



h1 {
    max-width: 525px;
    font-size: 24px;
    line-height: 38px;
    margin: 0 auto 30px auto;
    text-align: center;
}

ul {
    list-style-type: none;
}

a {
    color: #FFFFFF;
    font-size: 16px;
    line-height: 18.75px;
    text-decoration: none;
}

p {
    font-size: 16px;
    line-height: 30px;
    margin: 0;
}

footer {
    color: #acb1b7;
    font-size: 16px;
    line-height: 28px;
    margin:0;
    padding: 76px;
}

footer p {
    margin: 0 auto;
    text-align: center;
}




#logo {
    display: inline-block;
    width: 35px;
    height: 35px;
    color: #FFFFFF;
    box-shadow: 0px 15px 30px 0px #00000026;
    background: #4B5563;
    border-radius: 3px;
    font-family: Source Sans Pro;
    font-size: 18px;
    font-weight: 600;
    line-height: 35px;
    text-align: center;
    vertical-align: middle;
}
#site-search {
    height: 40px;
    width: 224px;
    border-radius: 100px;
    background: #283241;
    border: 0;
    text-indent: 49px;
    color:#FFFFFF 
}

#site-search::placeholder {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    color: a9adb3;
}

.hero-link {
    font-size: 18px;
    line-height: 21.09px;
}

.image {
    margin: 28px 0 69px 0;
    text-align: center;
}

.content {
    max-width: 708px; /* ограничиваем размер блока */
    margin: 0 auto; /* left and right = auto, top and bottom = 0, тем самым выставляем по центру */
}
.content p {
   margin-bottom: 38px;
   line-height: 30px;
}

.content p:first-child {
    font-size: 20px; 
    line-height: 32px;
} 
.content p:last-child {
   margin-bottom: unset;
}

.meta {
    color: #acb1b7;
    font-size: 14px;
    line-height: 16.41px;
    margin: 0 auto 14px auto;
    text-align: center;
}

.author {
    max-width: 214px;
    text-align: center;
    margin: 0 auto;
}

.author-img {
    margin: 0 0 0 0;
}


.author-name {
    font-size: 16px;
    line-height: 28px;
    margin: 0 0 0 0;
}

.author-job {
    font-size: 14px;
    line-height: 28px;
    color: #acb1b7;
    margin: 0 0 0 0;
}
